:root {
    --action-primary: #4339F2;
    --action-success: #34B53A;
    --white: #FFFFFF;
    --light-primary: #DAD7FE;
    --grey: #F8F8F8;
    --action-info: #02A0FC;
    --action-danger: #FF3A29;
    --action-warning: #FFB200;
    --light-danger: #FFE5D3;
    --light-warning: #FFF5CC;
    --light-success: #E2FBD7;
    --light-info: #CCF8FE;
    --black: #000000;
    --background: #F2F2F2;
    --dark-grey: #B2B2B2;
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    height: 100vh;
}

nav {
    padding: 10px;
    background: var(--white);
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 20px;
}

.search__container {
    display: flex;
    align-items: center;
}

.search__icon {
    transform: scale(0.7);
    cursor: pointer;
}

.search__icon:hover {
    transform: scale(1);
}

.hamburger {
    width: 25px;
    height: 2px;
    background: var(--dark-grey);
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 25px;
    height: 2px;
    background: var(--dark-grey);
    position: absolute;
}

.hamburger::before {
    top: 5px;
}

.hamburger::after {
    bottom: 5px;
}

.divider {
    height: 1px;
    width: 50px;
    background: var(--dark-grey);;
    display: none;
    margin: 20px 0;
}

.nav-icon {
    display: none;
    margin: 20px 0;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.nav-icon:hover {
    transform: scale(1.5);
}

.main__header {
    display: flex;
    justify-content: space-between;
}

.search__input {
    border: 0;
    background: transparent;
}

.add_friend_button {
    background-color: var(--action-primary);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card {
    background-color: var(--white);
    padding: 16px;
    width: 100%;
    border-radius: 8px;
}

.card dt {
    font-size: 20px;
    margin: 10px 0;
}

.card dd {
    margin: 0;
    color: var(--dark-grey);
}

.tags {
    margin: 15px 0 30px 0;
}

.tag {
    box-sizing: content-box;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.primary-light {
    background-color: var(--light-primary);
}

.light-danger {
    background-color: var(--light-danger);
}

.card__link {
    margin: 20px 0 10px 0;
    display: block;
}

/* desktop styles */
@media screen and (min-width: 992px) {
    body {
        display: grid;
        grid-template-columns: 70px 1fr;
    }

    nav {
        height: 100%;
        justify-content: flex-start;
        flex-direction: column;
        padding: 30px 0;
    }

    .hamburger {
        display: none;
    }

    .divider, .nav-icon {
        display: block;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .card {
        width: 380px;
    }
}